[submodule "UniKP"]
	path = UniKP
	url = https://github.com/dagl1/UniKP.git
[submodule "data/VmaxBuilder_results"]
	path = data/VmaxBuilder_results
	url = https://github.com/dagl1/VmaxBuilder_data.git
